/* Links ============================== */
a {
    text-decoration: none;
    font-family: $font-Dans;
    font-weight: bold;
    font-size: 2rem;
    color: $accent-d;

    &:visited {
        color:$accent-d;
    }

    &:hover {
        color: $accent-l;
    }

}

