/* Typography ========================= */

body {
    font-family: $font-serif;
    font-weight: $fw-regular;
    line-height: 1.5;
}
h1, h2 ,h3, h4, h5, h6{
    font-family: $font-sans;
    margin: 0;
}

h1{
    font-weight: $fw-heavy;
    margin-bottom: .5rem;
}
