/* Booking Style ================= */

.booking-content {
    border: 1px solid black;
    margin: auto auto;
    max-width: 1600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url(../../Images/Layout/w.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

img {
    max-width: 100%;
    height: auto;
}

p:hover,
#next1:hover {
    background-color: rgba(255, 105, 180, 0.5);
}

.option {
    background-color: black;
    color: white;
    margin: .5rem auto;
    width: 90%;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    padding: .25rem .1rem;
}

#stepOne {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
}

#stepOne h2,
.buttons {
    grid-column: 1/-1;
    text-align: center;
}


#booking1,
#booking2,
#timing {
    align-items: center;
    font-size: x-large;
    margin: .5rem auto;
    padding: .25rem .1rem;
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;

}

#filters form {
    align-items: center;
    font-size: x-large;
    margin: .5rem auto;
    padding: .25rem .1rem;
    width: 60%;
    display: grid;
    grid-template-columns: 80% 20%;
}

#booking1 label,
#booking1 input,
#booking2 label,
#booking2 input,
#booking2 select {
    display: inline;
    margin-top: .25rem;
}

#next1,
#next2,
#cancel1,
#cancel2 {
    grid-column: span 2;
    background-color: black;
    color: white;
    margin: .5rem auto;
    width: 20%;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    padding: .25rem .1rem;
}

#filters h2,
#timing h2 {
    margin-top: .5rem;
    grid-column: span 2;
    text-align: center;
    font-size: xx-large;

}

#secondBooking {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
}

.bookingFilter p {
    display: inline;
    padding: 0;
}

.bookingFilter {
    border: 1px black solid;
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#s1 {
    grid-row: 7/8;
    grid-column: 1/2;
}

#s2 {
    grid-row: 7/8;
    grid-column: 2/3;
}

#s3 {
    grid-row: 8/9;
    grid-column: 1/2;
}

#s4 {
    grid-row: 8/9;
    grid-column: 2/3;
}

#s5 {
    grid-row: 8/9;
    grid-column: 3/4;
}

#s6 {
    grid-row: 8/9;
    grid-column: 4/5;
}

#s7 {
    grid-row: 8/9;
    grid-column: 5/6;
}

#s8 {
    grid-row: 7/8;
    grid-column: 3/4;
}

#s9 {
    grid-row: 7/8;
    grid-column: 4/5;
}

#s10 {
    grid-row: 7/8;
    grid-column: 5/6;
}

#s11 {
    grid-row: 7/8;
    grid-column: 6/7;
}

#s12 {
    grid-row: 9/10;
    grid-column: 4/5;
}

#s13 {
    grid-row: 9/10;
    grid-column: 5/6;
}

#s14 {
    grid-row: 9/10;
    grid-column: 6/7;
}

#s15 {
    grid-row: 9/10;
    grid-column: 7/8;
}

#s16 {
    grid-row: 8/9;
    grid-column: 6/7;
}

#s17 {
    grid-row: 8/9;
    grid-column: 7/8;
}

#s18 {
    grid-row: 8/9;
    grid-column: 8/9;
}

#s19 {
    grid-row: 9/10;
    grid-column: 8/9;
}

#s20 {
    grid-row: 9/10;
    grid-column: 9/10;
}

#s21 {
    grid-row: 9/10;
    grid-column: 10/11;
}

#s22 {
    grid-row: 9/10;
    grid-column: 11/12;
}