/* Booking Style ================= */



img {
    max-width: 100%;
    height: auto;
}

p:hover,
#next1:hover {
    background-color: rgba(255, 105, 180, 0.5);
}

.option {
    background-color: black;
    color: white;
    margin: .5rem auto;
    width: 90%;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    padding: .25rem .1rem;
}

#stepOne {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
}

#stepOne h2,
.buttons {
    grid-column: 1/-1;
    text-align: center;
}


#booking1,
#booking2 {
    align-items: center;
    font-size: x-large;
    margin: .5rem auto;
    padding: .25rem .1rem;
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;

}

#timing {
    align-items: center;
    font-size: x-large;
    margin: .5rem auto;
    padding: .25rem .1rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#filters form {
    align-items: center;
    font-size: x-large;
    margin: .5rem auto;
    padding: .25rem .1rem;
    width: 60%;
    display: grid;
    grid-template-columns: 80% 20%;
}

#booking1 label,
#booking1 input,
#booking2 label,
#booking2 input,
#booking2 select {
    display: inline;
    margin-top: .25rem;
}

#next1,
#next2,
#cancel1,
#cancel2 {
    grid-column: span 2;
    background-color: black;
    color: white;
    margin: .5rem auto;
    width: 20%;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    padding: .25rem .1rem;
}

#filters h2,
#timing h2 {
    margin-top: .5rem;
    grid-column: 1/-1;
    text-align: center;
    font-size: xx-large;

}

#secondBooking {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
}

.bookingFilter p {
    display: inline;
    padding: 0;
}

.bookingFilter {
    border: 1px black solid;
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

/* Maps */
.booking-content {
    border: 1px solid black;
    margin: auto auto;
    max-width: 1600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url(../../Images/Layout/w.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


#s1 {
    grid-row: 7/8;
    grid-column: 1/2;
}

#s2 {
    grid-row: 7/8;
    grid-column: 2/3;
}

#s3 {
    grid-row: 8/9;
    grid-column: 1/2;
}

#s4 {
    grid-row: 8/9;
    grid-column: 2/3;
}

#s5 {
    grid-row: 8/9;
    grid-column: 3/4;
}

#s6 {
    grid-row: 8/9;
    grid-column: 4/5;
}

#s7 {
    grid-row: 8/9;
    grid-column: 5/6;
}

#s8 {
    grid-row: 7/8;
    grid-column: 3/4;
}

#s9 {
    grid-row: 7/8;
    grid-column: 4/5;
}

#s10 {
    grid-row: 7/8;
    grid-column: 5/6;
}

#s11 {
    grid-row: 7/8;
    grid-column: 6/7;
}

#s12 {
    grid-row: 9/10;
    grid-column: 4/5;
}

#s13 {
    grid-row: 9/10;
    grid-column: 5/6;
}

#s14 {
    grid-row: 9/10;
    grid-column: 6/7;
}

#s15 {
    grid-row: 9/10;
    grid-column: 7/8;
}

#s16 {
    grid-row: 8/9;
    grid-column: 6/7;
}

#s17 {
    grid-row: 8/9;
    grid-column: 7/8;
}

#s18 {
    grid-row: 8/9;
    grid-column: 8/9;
}

#s19 {
    grid-row: 9/10;
    grid-column: 8/9;
}

#s20 {
    grid-row: 9/10;
    grid-column: 9/10;
}

#s21 {
    grid-row: 9/10;
    grid-column: 10/11;
}

#s22 {
    grid-row: 9/10;
    grid-column: 11/12;
}

#s23 {
    grid-row: 8/9;
    grid-column: 10/11;
}

#s24 {
    grid-row: 8/9;
    grid-column: 11/12;
}

#s25,
#s26,
#s27,
#s28 {
    grid-row: 7/8;
    grid-column: 12/13;
}


#s29,
#s30,
#s31,
#s32,
#s33,
#s34,
#s35 {
    grid-row: 6/8;
    grid-column: 13/14;
}

#s36 {
    grid-row: 9/10;
    grid-column: 15/16;
}

#s37 {
    grid-row: 9/10;
    grid-column: 16/17;
}

#s38 {
    grid-row: 10/11;
    grid-column: 14/15;
}

#s39 {
    grid-row: 10/11;
    grid-column: 15/16;
}

#s40 {
    grid-row: 10/11;
    grid-column: 16/17;
}

#s41 {
    grid-row: 8/9;
    grid-column: 17/18;
}

#s43 {
    grid-row: 7/8;
    grid-column: 19/20;
}

#s42 {
    grid-row: 8/9;
    grid-column: 18/19;
}

#s44 {
    grid-row: 8/9;
    grid-column: 19/20;
}

#s53 {
    grid-row: 8/9;
    grid-column: 20/21;
}

#s54 {
    grid-row: 8/9;
    grid-column: 21/22;
}

#s45 {
    grid-row: 10/11;
    grid-column: 17/18;
}

#s46 {
    grid-row: 10/11;
    grid-column: 18/19;
}

#s47 {
    grid-row: 10/11;
    grid-column: 19/20;
}

#s48 {
    grid-row: 9/10;
    grid-column: 19/20;
}

#s52 {
    grid-row: 9/10;
    grid-column: 21/22;
}

#s49 {
    grid-row: 6/7;
    grid-column: 21/22;
}

#s50 {
    grid-row: 7/8;
    grid-column: 21/22;
}

#s51 {
    grid-row: 6/7;
    grid-column: 22/23;
}

#s55 {
    grid-row: 10/11;
    grid-column: 20/21;
}

#s56 {
    grid-row: 10/11;
    grid-column: 21/22;
}

#s57 {
    grid-row: 10/11;
    grid-column: 22/23;
}

#s58 {
    grid-row: 10/11;
    grid-column: 23/24;
}

#s59 {
    grid-row: 9/10;
    grid-column: 23/24;
}

#s60 {
    grid-row: 8/9;
    grid-column: 23/24;
}

#s61 {
    grid-row: 7/8;
    grid-column: 23/24;
}

#s62 {
    grid-row: 6/7;
    grid-column: 23/24;
}

#s63 {
    grid-row: 7/8;
    grid-column: 22/23;
}