/* Content ======================= */

.main-content {
    display: grid;
    grid-gap: 1rem;

    /*
    @media screen and (min-width:640px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width:840px) {
        grid-template-columns: repeat(3, 1fr);
    }
*/
    @media screen and (min-width:1000px) {
        grid-template-columns: repeat(2, 1fr);

        img {
            width: 100%;
            margin-bottom: -80px;
        }

        .form {
            padding: 1rem 20%;
            text-align: center;
            line-height: 3rem;
        }

        .form h1 {
            color: $accent-d;
        }

        .form .button {
            background-color: $accent-d;
            color: $base-l;
            font-weight: bold;
            font-size: xx-large;
        }

        .form .button:hover {
            background-color: $accent-m;
            color: $base-l;
        }
       
        .form input {
            text-align: center;
            border: none;
            background-color: $accent-l;
            color: $accent-m;
        }

        .form h1,
        .form input,
        .form .button {
            width: 100%;
            display: block;
            margin-top: 3rem;
        }
    }
}