/*Navigation ==========================*/

nav {
    padding: .25rem;
    flex-grow: 1;


    ul {
        letter-spacing: normal;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    li {
        list-style: none;
    }

    a {
        font-family: $font-Dans;
        text-align: center;
        display: block;
        padding: .25rem .5rem;
        color: #D95525;
    }

}