$base-l: #F8F9FA;
$base-m: #DEE2E6;
$base-d: #CED4DA;

$contrast-l: #ADB5BD;
$contrast-m: #495057;
$contrast-d: #1b202c;

$accent-l: #F5D9D3;
$accent-m: #EE5922;
$accent-d: #D95525;
$accent-danger: #D92525;

$typo-l: #6C757D;
$typo-m: #343A40;
$typo-d: #212529;